fastapi==0.110.0
uvicorn==0.28.0
psycopg2==2.9.9
SQLAlchemy==2.0.28
python-dotenv==1.0.1
firebase-admin==6.5.0
pika==1.3.2
aio-pika==9.4.1
phonenumbers==8.13.34
pydantic-extra-types==2.6.0
email_validator==2.1.1
pytest==8.2.0
pytest-mock==3.14.0
